---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Matteo Curcio | Blog"
  description="Articoli e approfondimenti"
>
  <section class="box">
    <h1>Blog</h1>
    <p>
      In questa sezione pubblicherò articoli, riflessioni e aggiornamenti sui miei interessi
      e sui miei progetti.
    </p>
    <p>
      Per ora questa pagina è una base iniziale. Più avanti aggiungeremo i veri articoli.
    </p>
  </section>
</BaseLayout>