---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Matteo Curcio | Contatti"
  description="Pagina contatti"
>
  <section class="box">
    <h1>Contatti</h1>
    <p>
      In questa pagina inserirò i miei riferimenti principali, come email, LinkedIn e altri
      canali utili.
    </p>
    <p>
      Per ora puoi usare questo spazio come segnaposto iniziale.
    </p>
  </section>
</BaseLayout>